* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: whitesmoke
}

.main {
    position: relative;
    height: 400px;
    width: 800px;
    border-radius: 25px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.left-side {
    position: absolute;
    left: 0;
    width: 400px;
    height: 100%;
}

.left-side img {
    width: 100%;
    height: 100%;
}

.right-side {
    position: absolute;
    right: 0;
    width: 400px;
    text-align: center;
}

.right-side h1 {
    margin: 15px 0;
}

.right-side hr {
    background: silver;
    width: 30%;
    height: 1px;
}

.right-side hr:nth-child(1) {
    float: right;
    margin-right: 15px;
    transform: translateY(40px);
}

.right-side hr:nth-child(2) {
    float: left;
    margin-left: 15px;
    transform: translateY(40px);
}

.right-side input {
    margin: 15px 25px 0 0;
    width: 250px;
    height: 40px;
    border-radius: 30px;
    background: lavender;
    padding-left: 45px;
    letter-spacing: .5px;
    transition: all .4s;

}
.right-side input:focus {
    border: 1px solid red;
}

.right-side input:valid {
    border: 1px solid green;
}

.right-side .fas {
    transform: translateX(35px);
}

.right-side button {
    margin: 30px 0 5px 0;
    background: linear-gradient(9.28deg, #6852ED 16.67%, #BA43FC 100%);
    color: #f1f1f1;
    letter-spacing: .5px;
    width: 295px;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}
.right-side button:hover {
    color: #6852ED;
    border: 1px solid #6852ED;
    background: #ffffff;
}

.right-side .fab {
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: white;
    line-height: 40px;
    border-radius: 50%;
    margin: 10px 3px;
}

a {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.fa-google {
    background: red;
}

.fa-google:hover {
    background: #dd4b39;
}

.fa-facebook-f {
    background: #0f6faa;
}

.fa-facebook-f:hover {
    background: #0e6297;
}

.fa-twitter {
    background: #1d9ff0;
}

.fa-twitter {
    background: #1a8fd8;
}